## Assignment 2

In [3]:
import pandas as pd;
data={
    "Tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["S","M","S","M","D","M","D","S","M","S"],
    "Taxablec_Income":["125k","100k","70k","120k","95k","60k","220k","85k","75k","90k"],
    "Cheat":["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}
df=pd.DataFrame(data)
print(df)
print("1st row :\n",df.loc[[0], :])
print("4th row : \n",df.loc[[4],:])
print("7th row :\n",df.loc[[7],:])
print("8th row :\n",df.loc[[8],:])

df.to_csv("employee_data.csv",index=False)

data=pd.read_csv("employee_data.csv")
data

   Tid Refund Marital Status Taxablec_Income Cheat
0    1    yes              S            125k    No
1    2     No              M            100k    No
2    3     No              S             70k    No
3    4    Yes              M            120k    No
4    5     No              D             95k   Yes
5    6     No              M             60k    No
6    7    Yes              D            220k    No
7    8     No              S             85k   Yes
8    9     No              M             75k    No
9   10     No              S             90k   Yes
1st row :
    Tid Refund Marital Status Taxablec_Income Cheat
0    1    yes              S            125k    No
4th row :
    Tid Refund Marital Status Taxablec_Income Cheat
4    5     No              D             95k   Yes
7th row :
    Tid Refund Marital Status Taxablec_Income Cheat
7    8     No              S             85k   Yes
8th row :
    Tid Refund Marital Status Taxablec_Income Cheat
8    9     No              M             75k    No

   Tid Refund Marital Status Taxablec_Income Cheat
0    1    yes              S            125k    No
1    2     No              M            100k    No
2    3     No              S             70k    No
3    4    Yes              M            120k    No
4    5     No              D             95k   Yes
5    6     No              M             60k    No
6    7    Yes              D            220k    No
7    8     No              S             85k   Yes
8    9     No              M             75k    No
9   10     No              S             90k   Yes

In [7]:
import pandas as pd

# -----------------------------
# Step 1: Create sample dataset
# -----------------------------
data = {
    "Name": ["Aman", "Raj", "Simran", "Neha", "Vikas", "Priya", "Arjun", "Kiran"],
    "Department": ["CS", "IT", "HR", "Finance", "CS", "IT", "HR", "Finance"],
    "Gender": ["Male", "Male", "Female", "Female", "Male", "Female", "Male", "Female"],
    "Pass/Fail": ["Pass", "Fail", "Pass", "Pass", "Fail", "Pass", "Fail", "Pass"],
    "Performance": ["Low", "High", "Medium", "Low", "High", "Medium", "Low", "High"],
    "Age": [21, 23, 22, 24, 23, 25, 22, 26],
    "Marks": [65.5, 70.0, 80.2, 55.3, 60.7, 85.5, 72.4, 90.0]
}

df = pd.DataFrame(data)

# -----------------------------
# Step 2: Save to CSV
# -----------------------------
df.to_csv("attribute_example.csv", index=False)
print("CSV file 'attribute_example.csv' created successfully!")

CSV file 'attribute_example.csv' created successfully!

In [8]:
# ï‚· Represent the following:
# o Nominal attributes (e.g., names, departments)
# o Binary attributes (e.g., gender, pass/fail)
# o Ordinal attributes (e.g., low < medium < high)
# o Numeric attributes (continuous and discrete) 

# Q.4 Understanding Attribute Types Using Python
# Representing Nominal, Binary, Ordinal, and Numeric attributes

import pandas as pd
from pandas.api.types import CategoricalDtype


df = pd.read_csv("attribute_example.csv")

print("Dataset:\n", df, "\n")

# -----------------------------
# Step 2: Nominal Attributes
# -----------------------------
print("Nominal Attributes (Name, Department):")
print(df[["Name", "Department"]].head(), "\n")

# -----------------------------
# Step 3: Binary Attributes
# -----------------------------
df["Gender_binary"] = df["Gender"].map({"Male": 1, "Female": 0})
df["Pass_binary"] = df["Pass/Fail"].map({"Pass": 1, "Fail": 0})
print("Binary Attributes (Gender, Pass/Fail):")
print(df[["Gender", "Gender_binary", "Pass/Fail", "Pass_binary"]], "\n")

# # -----------------------------
# # Step 4: Ordinal Attributes
# # -----------------------------
performance_order=CategoricalDtype(categories=["Low","Medium","High"],ordered=True)
df['Performance_order']=(df['Performance'].astype(performance_order).cat.codes)
df


# # -----------------------------
# # Step 5: Numeric Attributes
# # -----------------------------
print("Numeric Attributes:")
print("Age (Discrete):", df["Age"].dtype)
print("Marks (Continuous):", df["Marks"].dtype)

Dataset:
      Name Department  Gender Pass/Fail Performance  Age  Marks
0    Aman         CS    Male      Pass         Low   21   65.5
1     Raj         IT    Male      Fail        High   23   70.0
2  Simran         HR  Female      Pass      Medium   22   80.2
3    Neha    Finance  Female      Pass         Low   24   55.3
4   Vikas         CS    Male      Fail        High   23   60.7
5   Priya         IT  Female      Pass      Medium   25   85.5
6   Arjun         HR    Male      Fail         Low   22   72.4
7   Kiran    Finance  Female      Pass        High   26   90.0

Nominal Attributes (Name, Department):
     Name Department
0    Aman         CS
1     Raj         IT
2  Simran         HR
3    Neha    Finance
4   Vikas         CS

Binary Attributes (Gender, Pass/Fail):
   Gender  Gender_binary Pass/Fail  Pass_binary
0    Male              1      Pass            1
1    Male              1      Fail            0
2  Female              0      Pass            1
3  Female              0      Pass            1
4    Male              1      Fail            0
5  Female              0      Pass            1
6    Male              1      Fail            0
7  Female              0      Pass            1

Numeric Attributes:
Age (Discrete): int64
Marks (Continuous): float64

In [11]:
# Q.5 Navigate the DataFrame and do the following task for the table created in question
# 1:
# 1. Select row from index 3 to 7.
# 2. Select row from index 4 to 8, and column 2 to 4.
# 3. Select all rows with column index 1 to 3 (include index 3 during selection).

data=pd.read_csv('employee_data.csv')
print("select row from 3 index to 7 \n",data.iloc[3:8].to_string(index=False))
print("select row from 4 index to 8 and column 2 to 4 \n",data.iloc[4:9,2:5].to_string(index=False))
print("select all row with column 1 to 4 \n",data.iloc[:,1:4].to_string(index=False))

select row from 3 index to 7
  Tid Refund Marital Status Taxablec_Income Cheat
   4    Yes              M            120k    No
   5     No              D             95k   Yes
   6     No              M             60k    No
   7    Yes              D            220k    No
   8     No              S             85k   Yes
select row from 4 index to 8 and column 2 to 4
 Marital Status Taxablec_Income Cheat
             D             95k   Yes
             M             60k    No
             D            220k    No
             S             85k   Yes
             M             75k    No
select all row with column 1 to 4
 Refund Marital Status Taxablec_Income
   yes              S            125k
    No              M            100k
    No              S             70k
   Yes              M            120k
    No              D             95k
    No              M             60k
   Yes              D            220k
    No              S             85k
    No              M             75k
    No              S             90k

In [15]:
import pandas as pd

# Read the Iris dataset CSV
df = pd.read_csv("iris.csv")  # make sure the file is in your working directory

# Display the first 5 rows
print("First 5 rows of the dataset:")
print(df.head())

First 5 rows of the dataset:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# Q.7: Delete row 4 and column 3, then display result

# Delete row 4 (index 3 in Python, since indexing starts at 0)
df_dropped_row = df.drop(index=3)

# Delete column 3 (index 2)
df_dropped = df_dropped_row.drop(df_dropped_row.columns[2], axis=1)

# Display the result
print("\nDataset after deleting row 4 and column 3:")
print(df_dropped.head())

Dataset after deleting row 4 and column 3:
   Id  SepalLengthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1            1.4           0.2  Iris-setosa
1   2            4.9            1.4           0.2  Iris-setosa
2   3            4.7            1.3           0.2  Iris-setosa
4   5            5.0            1.4           0.2  Iris-setosa
5   6            5.4            1.7           0.4  Iris-setosa

In [19]:
import pandas as pd

# a. Create sample dataset
data = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Edward"],
    "Department": ["HR", "IT", "IT", "Marketing", "Sales"],
    "Age": [29, 34, 41, 28, 38],
    "Salary": [50000, 70000, 65000, 55000, 60000],
    "Years_of_Experience": [4, 8, 10, 3, 12],
    "Joining_Date": ["2020-03-15", "2017-07-19", "2013-06-01", "2021-02-10", "2010-11-25"],
    "Gender": ["Female", "Male", "Male", "Female", "Male"],
    "Bonus": [5000, 7000, 6000, 4500, 5000],
    "Rating": [4.5, 4.0, 3.8, 4.7, 3.5]
}

df = pd.DataFrame(data)

In [20]:

# b. Save dataset to CSV
df.to_csv("employees.csv", index=False)
print("employees.csv created successfully!\n")

employees.csv created successfully!

In [21]:

# c. Shape of DataFrame
print("Shape of DataFrame:", df.shape)

Shape of DataFrame: (5, 10)

In [22]:

# d. Summary (info) of DataFrame
print("\nSummary (info) of DataFrame:")
print(df.info())

Summary (info) of DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

In [23]:

# e. Generate descriptive statistics
print("\nDescriptive statistics:")
print(df.describe())

Descriptive statistics:
       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [24]:

# f. Display first 5 rows and last 3 rows
print("\nFirst 5 rows:")
print(df.head())

print("\nLast 3 rows:")
print(df.tail(3))

First 5 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Last 3 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [25]:

# g. Calculate statistics
avg_salary = df["Salary"].mean()                 # g.i Average salary
total_bonus = df["Bonus"].sum()                 # g.ii Total bonus
youngest_age = df["Age"].min()                  # g.iii Youngest age
highest_rating = df["Rating"].max()             # g.iv Highest rating

print(f"\nAverage Salary: {avg_salary}")
print(f"Total Bonus: {total_bonus}")
print(f"Youngest Employee Age: {youngest_age}")
print(f"Highest Performance Rating: {highest_rating}")

Average Salary: 60000.0
Total Bonus: 27500
Youngest Employee Age: 28
Highest Performance Rating: 4.7

In [26]:

# h. Sort DataFrame by Salary descending
df_sorted = df.sort_values(by="Salary", ascending=False)
print("\nDataFrame sorted by Salary (descending):")
print(df_sorted)

DataFrame sorted by Salary (descending):
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

In [27]:

# i. Add Performance Category column
def performance_category(rating):
    if rating >= 4.5:
        return "Excellent"
    elif rating >= 4.0:
        return "Good"
    else:
        return "Average"

df["Performance_Category"] = df["Rating"].apply(performance_category)
print("\nDataFrame with Performance_Category:")
print(df)

DataFrame with Performance_Category:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating Performance_Category
0   2020-03-15  Female   5000     4.5            Excellent
1   2017-07-19    Male   7000     4.0                 Good
2   2013-06-01    Male   6000     3.8              Average
3   2021-02-10  Female   4500     4.7            Excellent
4   2010-11-25    Male   5000     3.5              Average

In [28]:

# j. Identify missing values
print("\nMissing values in DataFrame:")
print(df.isnull().sum())

Missing values in DataFrame:
Employee_ID             0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance_Category    0
dtype: int64

In [ ]:

# k. Rename Employee_ID to ID
df.rename(columns={"Employee_ID": "ID"}, inplace=True)
print("\nDataFrame with renamed column:")
print(df.head())

DataFrame with renamed column:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category     Tax
0  Female   5000     4.5            Excellent  5000.0
1    Male   7000     4.0                 Good  7000.0
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0

In [31]:

# l. Find employees with > 5 years experience
exp_gt_5 = df[df["Years_of_Experience"] > 5]
print("\nEmployees with > 5 years of experience:")
print(exp_gt_5)

Employees with > 5 years of experience:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance_Category     Tax
1   Male   7000     4.0                 Good  7000.0
2   Male   6000     3.8              Average  6500.0
4   Male   5000     3.5              Average  6000.0

In [32]:

# m. Find employees in IT Department
it_dept = df[df["Department"] == "IT"]
print("\nEmployees in IT Department:")
print(it_dept)

Employees in IT Department:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance_Category     Tax
1   Male   7000     4.0                 Good  7000.0
2   Male   6000     3.8              Average  6500.0

In [33]:

# n. Add Tax column (10% of Salary)
df["Tax"] = df["Salary"] * 0.10
print("\nDataFrame with Tax column:")
print(df)

DataFrame with Tax column:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category     Tax
0  Female   5000     4.5            Excellent  5000.0
1    Male   7000     4.0                 Good  7000.0
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0

In [34]:

# o. Save modified DataFrame
df.to_csv("employees_modified.csv", index=False)
print("\nModified DataFrame saved as employees_modified.csv")

Modified DataFrame saved as employees_modified.csv