## Assignment 1

In [1]:
print("Hello World")

Hello World

In [ ]:
a = 19
b = 220
c = a + b
print(a,"+",b,"-->",c)

19 + 220 = 239

In [4]:
a = "Bhagat"
b = " Singh"
c = a + b		
print (a, " + ", b, " --> ", c)

Bhagat  +   Singh  -->  Bhagat Singh

In [5]:
a = "Bhagat"
b = 100
c = a + str(b)		
print (a, " + ", b, " --> ", c)

Bhagat  +  100  -->  Bhagat100

In [8]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
c = a + b		
print  (a, " + ", b, " --> ", c)

44  +  323  -->  44323

In [9]:
i=0
while(i<=10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [10]:
print("range(0,10)",list(range(0,10)))
print("range(11,20)",list(range(11,20)))
print("range(0,20,2)",list(range(0,20,2)))
print ("range(-10,-20,2) ", list(range(-10,-20,2)))
print ("range(-10,-20,2) ", list(range(-10,-20,-2)))

range(0,10) [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(11,20) [11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2) [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-10,-20,2)  []
range(-10,-20,2)  [-10, -12, -14, -16, -18]

In [11]:
for i in range(0,10):
	print (i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(0,20,2):
	print (i)

0
2
4
6
8
10
12
14
16
18

In [13]:
for i in range(0,-10,-1):
	print (i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [14]:
for i in range(1,11):
	print (5," * ", i , " = ", i * 5)

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [15]:
s=0
for i in range(1,11):
	s=s+i
print ("Sum is --> ",s)

Sum is -->  55

In [16]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b:
	print (a," > ",b)
else:
	print (a," < ",b)

34  <  64

In [17]:
n = int(input("Enter a No: "))
if  n % 2 == 0:
	print (n," is even")
else:
	print (n," is odd")

34  is even

In [18]:
def Sub(a, b):
    c = a - b
    return c

print("Sub(10,20) -->", Sub(10,20))
print("Sub(20,50) -->", Sub(20,50))
print("Sub(80,200) -->", Sub(80,200))

Sub(10,20) --> -10
Sub(20,50) --> -30
Sub(80,200) --> -120

In [19]:
import math as m
print ("exp(-200)    --> ", m.exp(-200))  # Exponential function
print ("log(100,2)   --> ", m.log(100,2)) # Log
print ("log(100,10)  --> ", m.log(100,10))# Log
print ("log10(100)   --> ", m.log10(100)) # Log 10
print ("m.cos(30)    --> ", m.cos(30))    # cos
print ("m.sin(30)    --> ", m.sin(30))    # sin
print ("m.tan(30)    --> ", m.tan(30))    # tan
print ("m.sqrt(324)  --> ", m.sqrt(324))
print ("m.ceil(89.9) --> ", m.ceil(89.9))
print ("m.floor(89.9)--> ", m.floor(89.9))

exp(-200)    -->  1.3838965267367376e-87
log(100,2)   -->  6.643856189774725
log(100,10)  -->  2.0
log10(100)   -->  2.0
m.cos(30)    -->  0.15425144988758405
m.sin(30)    -->  -0.9880316240928618
m.tan(30)    -->  -6.405331196646276
m.sqrt(324)  -->  18.0
m.ceil(89.9) -->  90
m.floor(89.9)-->  89

In [20]:
var = 'Hello World!'
print ("var      --> ", var)
print ("var[0]   --> ", var[0])
print ("var[1:5] --> ", var[1:5])
print ("var[:-5] --> ", var[:-5])

var      -->  Hello World!
var[0]   -->  H
var[1:5] -->  ello
var[:-5] -->  Hello W

In [21]:
para_str = """This is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (para_str)

This is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

In [22]:
var =" Indian,   Army    "

print("String    --> ", var)
print("Length    --> ", len(var))
print("var split --> ", var.split())
print("var split --> ", var.split(' '))
print("var split --> ", var.split(','))

# Strip + Split
print("var split --> ", var.strip().split(','))

String    -->   Indian,   Army
Length    -->  19
var split -->  ['Indian,', 'Army']
var split -->  ['', 'Indian,', '', '', 'Army', '', '', '', '']
var split -->  [' Indian', '   Army    ']
var split -->  ['Indian', '   Army']

In [23]:
var=" Indian Army    "
print ("String       --> ", var)
print ("Count of ' ' --> ", var.count(' '))
print ("Count of 'a' --> ", var.count('a'))
print ("Count of 'n' --> ", var.count('an'))

String       -->   Indian Army
Count of ' ' -->  6
Count of 'a' -->  1
Count of 'n' -->  1

In [24]:
s1="Indian Army"
s2="malayalam"
s3="madam"
s4="teacher"
print ("s1 --> ", s1==s1[::-1])
print ("s2 --> ", s2==s2[::-1])
print ("s3 --> ", s3==s3[::-1])
print ("s4 --> ", s4==s4[::-1])

s1 -->  False
s2 -->  True
s3 -->  True
s4 -->  False

In [25]:
import random as r
print (r.random())
print (r.random())
print (round(r.random(),4))

0.6782922189871307
0.08094364391783837
0.3606

In [27]:
import random as r

A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print (r.sample(A, 4))
print (r.sample(A, 2))
print (r.sample(range(0,100), 2))
print (r.sample(range(-100,100), 5))

[1, 4, 2, 10]
[9, 6]
[18, 58]
[69, 79, -99, -89, 25]

In [29]:
for i in range(-5,6):
	try:
		print ("100/",i," --> ", 100/i)
	except:
		print ("error")

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0
error
100/ 1  -->  100.0
100/ 2  -->  50.0
100/ 3  -->  33.333333333333336
100/ 4  -->  25.0
100/ 5  -->  20.0

In [30]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
print ("Number of elements in list: ", len(L))

Original List:  ['Pratham', 'Sharma', 3.14, 3]
Number of elements in list:  4

In [31]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
for i in range(0, len(L)):
	print (L[i])

Original List:  ['Pratham', 'Sharma', 3.14, 3]
Pratham
Sharma
3.14
3

In [32]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)

print ("max --> ", max(L))
print ("min --> ", min(L))

print ("\nBefore Sort            --> ", L)
L.sort()

print ("After Sort (Asending)  --> ", L)

L.sort(reverse=True)
print ("After Sort (Desending) --> ", L)

Original List -->  [3, 6, 9, 12, 5, 3, 2]
max -->  12
min -->  2

Before Sort            -->  [3, 6, 9, 12, 5, 3, 2]
After Sort (Asending)  -->  [2, 3, 3, 5, 6, 9, 12]
After Sort (Desending) -->  [12, 9, 6, 5, 3, 3, 2]

In [37]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Dictionary      --> ", CGPA)
print ("Num of elements --> ", len(CGPA))

print ("CGPA of 1       --> ", CGPA[1])
print ("CGPA of 4       --> ", CGPA[4])
print ("CGPA of 7       --> ", CGPA[7])
print ("CGPA of 2       --> ", CGPA[2])
print ("CGPA of 8       --> ", CGPA[8])

Dictionary      -->  {1: 8.9, 2: 5.6, 4: 6.7, 7: 9.1, 8: 5.3}
Num of elements -->  5
CGPA of 1       -->  8.9
CGPA of 4       -->  6.7
CGPA of 7       -->  9.1
CGPA of 2       -->  5.6
CGPA of 8       -->  5.3

In [40]:
T = ("Pratham", 'Sharma', 3.14, 3)

print ("T-->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))

T--> ('Pratham', 'Sharma', 3.14, 3)
Num of elements --> 4
Type of Object  --> <class 'tuple'>

In [41]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)
print ("Sum     -->", sum(T))
print ("Average -->", sum(T)/len(T))
print ("Average -->", sum(T)//len(T))

T       --> (3, 6, 9, 12, 5, 3, 2)
Sum     --> 40
Average --> 5.714285714285714
Average --> 5

In [42]:
s = set(['A', 'B', 'E', 'F','E', 'F' ])
print ("Original set           --> ", s)
print ("Num of elements in set --> ", len(s))

Original set           -->  {'B', 'E', 'F', 'A'}
Num of elements in set -->  4

In [43]:
a = set(['A', 'B', 'E', 'F' ])
b = set(["A", "C", "D", "E"])
print ("Original set a      --> ", a)
print ("Original set b      --> ", b)
print ("Union of a and b    --> ", a.union(b))
print ("Intersection of a,b --> ", a.intersection(b))
print ("Difference a - b    --> ", a - b)
print ("Difference a - b    --> ", a.difference(b))
print ("Difference b - a    --> ", b - a)
print ("Difference b - a    --> ", b.difference(a))
print ("Symetric Diff a - b --> ", a.symmetric_difference(b))
print ("Symetric Diff b - a --> ", b.symmetric_difference(a))

Original set a      -->  {'B', 'E', 'F', 'A'}
Original set b      -->  {'E', 'C', 'A', 'D'}
Union of a and b    -->  {'C', 'A', 'D', 'B', 'E', 'F'}
Intersection of a,b -->  {'E', 'A'}
Difference a - b    -->  {'B', 'F'}
Difference a - b    -->  {'B', 'F'}
Difference b - a    -->  {'C', 'D'}
Difference b - a    -->  {'C', 'D'}
Symetric Diff a - b -->  {'D', 'B', 'F', 'C'}
Symetric Diff b - a -->  {'B', 'C', 'F', 'D'}

In [46]:
a = set(['A', 'B', 'E', 'F' ])
print ("Original set a       --> ", a)
a.add("D")
print ("Set After Adding (D) --> ", a)
a.add("D")
print ("Set After Adding (D) --> ", a)
a.remove("D")
print ("Set After Deleting(D)--> ", a)
a.pop()
print ("Set After pop        --> ", a)
a.pop()
print ("Set After pop        --> ", a)

Original set a       -->  {'B', 'E', 'F', 'A'}
Set After Adding (D) -->  {'A', 'D', 'B', 'E', 'F'}
Set After Adding (D) -->  {'A', 'D', 'B', 'E', 'F'}
Set After Deleting(D)-->  {'A', 'B', 'E', 'F'}
Set After pop        -->  {'B', 'E', 'F'}
Set After pop        -->  {'E', 'F'}

In [48]:
fp=open('result.txt','w')	# Open the file in writing mode
for  i in range(1,11):
	fp.write(str(i) + "\n")	# Writing to the file line by line
fp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content

In [49]:

Readfp=open('result.txt')		# Open the file in reading mode
Writefp=open('abc.txt','w')	# Open the file in writing mode
for line in Readfp:
	Writefp.write(line.upper())

Writefp.close()
Readfp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content